.Sidebar {
  max-width: 22rem;
  width: 100%;
  border-right: 1px solid black;
  min-height: 100%;
  .wapper {
    margin: 0 1rem;
    .SiderbarFilterTilter {
      font-size: 1.3rem;
      svg {
        padding-left: 0.3rem;
      }
      padding: 0.6rem;
      border-bottom: 2px groove gray;
    }
    input {
      width: 1.2rem;
      height: 1.2rem;
      &:first-of-type {
        margin-bottom: 1rem;
      }
    }
    label {
      font-size: 1.3rem;
      padding-left: 0.3rem;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 1.3rem;
      font-weight: bolder;
      border-bottom: 1px groove rgb(180, 180, 180);
      padding: 7px;
      margin: 0;
      &::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
      }
    }
  }
}
