.topbar {
  display: flex;
  background-color: #4c4b4a;
  max-height: 4rem;
  div {
    display: flex;
  }

  button {
    background-color: inherit;
    display: flex;
    color: white;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px groove rgb(94, 92, 92);
    p {
      margin: 0 0 0 0.6rem;
    }

    &:hover {
      background-color: #5d5c5b;
    }
  }

  .excelbtn {
    button {
      border: none;
      font-size: 2rem;
    }
  }
}
.topbar > div:first-child {
  width: 22rem;
}
.topbar > div:nth-of-type(2) {
  flex-grow: 1;
}

.pressed {
  background-color: #2a2525 !important;
}
