.Pagination {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    list-style: none;
    button {
      border: 1px groove whitesmoke;
      background-color: inherit;
    }
  }

  select {
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 5px 15px 5px 5px;

    border-bottom: 2px solid rgb(199, 199, 199);
    &:focus {
      border-bottom: 2px solid rgb(255, 0, 0);
    }
  }

  .active {
    background-color: red;
    color: white;
  }
}
