.ProminentSpecieCard {
  margin: 1rem 0.5rem;
  box-shadow: 1px 1px 1px rgb(180, 179, 179), -1px -1px 1px rgb(180, 179, 179);
  .Cardinfo {
    padding-left: 1rem;
    padding-top: 1rem;
    max-width: 70%;
    max-height: 200px;
    min-height: 172px;
    h3 {
      font-size: 150%;
      margin: 0.5rem 0;
    }
  }
  .hientrang {
    font-size: 1.3rem;
    margin: 1rem 0;
    svg {
      padding: 0 5px;
    }
  }

  button {
    border: 0;
    margin: 10px;
    border-radius: 50%;
    p {
      color: white;
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
    }
    width: 3rem;
    height: 3rem;
  }

  .imgWapper {
    height: 16rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .sachDoBtn {
    background-color: #ff145a;
  }

  .iucnsBtn {
    background-color: #ff5444;
  }

  abbr {
    text-decoration: none !important;
  }

  .TakeLocation {
    display: flex;
    border-top: 1px groove gray;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.6rem;
    input {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.5rem;
    }
  }
}
